

<div id ="container">
	<nav class="nav">
		<a href="#introbox"><div class="navlogo"></div></a>

		<div class="cl-effect-13">
		<%= link_to "LOG IN", new_sessions_path, class: "cl-effect-13" %>
		<h1 class="cl-effect-13"><a href="#" data-reveal-id="myModal">SIGNUP</a></h1>

		<!-- <%= link_to "SIGN UP", new_user_path, class: "cl-effect-13" %> -->
		<a href="#whoarewe" class="cl-effect-13">HOW IT WORKS</a>
		
	 	</div>
		
	</nav>

	<div class="sectionbox" id ="introbox">
		


		<div class="mainlogo" id="logo"></div>
		<div class="mainlogo" id="play"></div>
		<br />
		<h2 class="what">W h a t ' s &nbsp o n &nbsp y o u r &nbsp p l a y l i s t ? </h2>
		
	</div>

	<div class = "sectionbox" id="whoarewe">
		<ul class ="large-block-grid-3 small-block-grid-1">
			<li>
				<div id = "lorem1">
					<h1>From us To You</h1>
					<h3>We built this shit from scratch</h3>

				</div>
			</li>

			 <li>
			 	<div id = "lorem2">
				<h1>How it Works!</h1>
					<h3>Share music anonymously!</h3>
				</div>
			</li>

			<li>
			 	<div id = "lorem3">
				<h1>Email Us!</h1>
					<h3>wdi56@gmail.com!</h3>
				</div>
			</li>
		</ul>
	</div>



	<div class = "sectionbox" id="signup">
		
	</div>


</div> <!--container div-->



<div id="myModal" class="reveal-modal" data-reveal>
  <%= render partial: 'users/form', :controller=>"users", :action =>"new" %>
  <a class="close-reveal-modal">&#215;</a>
</div>
  
