<div id ="container">
	<nav class="nav">
		<%= link_to( image_tag("logo2.png", class: "homebutton"), users_path )%>
		<div class="cl-effect-13">

			<% if current_user %>
				<%= link_to "SIGN OUT", signout_path, method: :delete, class: "cl-effect-13" %>
				<% else %>
				<%= link_to "SIGN IN", "/auth/rdio", class: "cl-effect-13" %>
			<% end %>
			<a href="#whoarewe" class="cl-effect-13">HOW IT WORKS</a>
			<a href="#whoarewe2" class="cl-effect-13">PINK</a>
			<span class="cl-effect-13">ABOUT</span>

	 	</div>

	</nav>

	<div class="sectionbox" id ="introbox">


		<div class="mainlogo" id="logo"></div>
		<div class="mainlogo" id="homeplay"></div>
		<br />
		<h2 class="what">W h a t ' s &nbsp o n &nbsp y o u r &nbsp p l a y l i s t ? </h2>



	</div>

	<div class = "sectionbox" id="whoarewe">
		<ul class ="large-block-grid-3 small-block-grid-1">
			<li>
				<div id = "lorem1">
					<h1>From us To You</h1>
					<h3>We built this shit from scratch</h3>

				</div>
			</li>

			 <li>
			 	<div id = "lorem2">
				<h1>How it Works!</h1>
					<h3>Share music anonymously!</h3>
				</div>
			</li>

			<li>
			 	<div id = "lorem3">
				<h1>Email Us!</h1>
					<h3>wdi56@gmail.com!</h3>
				</div>
			</li>
		</ul>
	</div>
<div class = "sectionbox" id="whoarewe2">
		<ul class ="large-block-grid-3 small-block-grid-1">
			<li>
				<div id = "lorem1">
					<h1>From us To You</h1>
					<h3>We built this shit from scratch</h3>

				</div>
			</li>

			 <li>
			 	<div id = "lorem2">
				<h1>How it Works!</h1>
					<h3>Share music anonymously!</h3>
				</div>
			</li>

			<li>
			 	<div id = "lorem3">
				<h1>Email Us!</h1>
					<h3>wdi56@gmail.com!</h3>
				</div>
			</li>
		</ul>
	</div>


	<div class = "sectionbox" id="signup">

			<div class="getstartedbox">

			<p>Start playing it forward with a Rdio account.</p>
			<br />
				<div class="getstartedtext">
					<a href="https://www.rdio.com/account/signup/">
						<h1 id="getstartedhome">GET <%= image_tag "rdio.png" %></h1>
					</a>
				</div>

			</div>





	</div>


</div> <!--container div-->
