<div id ="container">
	<nav>
		<button class = "navbutton">About</button>
		<button class = "navbutton">Who Are We?</button>
		<button class = "navbutton">Contact</button>
	</nav>
	<div class="sectionbox" id ="introbox">
		<h1>play it foward</h1>
		<h2>what's in your playlist?</h2>
	</div>

	<div class = "sectionbox" id="whoarewe">
		<div id = "test">
			<h1>Same playlist, Same tunes?</h1>
		</div>
		<%=image_tag("playlist.png")%>
	</div>
</div> <!--container div-->
