

<div id ="container">
	<nav class="nav">
		
		<h2 class="cl-effect-2"><a href="#whoarewe"><span data-hover="PLAY IT FORWARD">PLAY IT FORWARD</span></a></h2>
		<h2 class="cl-effect-2"><a href="#whoarewe"><span data-hover="HOW IT WORKS">HOW IT WORKS</span></a></h2>
		<h2 class = "cl-effect-2"><a href="#signup"><span data-hover="SIGN UP">SIGN UP</span></a></h2>
	
	</nav>

	<div class="sectionbox" id ="introbox">
		<h1>play it foward</h1>
		<h2>what's in your playlist?</h2>
	</div>

	<div class = "sectionbox" id="whoarewe">
		<ul class ="large-block-grid-3 small-block-grid-1">
			<li>
				<div id = "lorem1">
					<h1>From us To You</h1>
					<h3>We built this shit from scratch</h3>

				</div>
			</li>

			 <li>
			 	<div id = "lorem2">
				<h1>How it Works!</h1>
					<h3>Share music anonymously!</h3>
				</div>
			</li>

			<li>
			 	<div id = "lorem3">
				<h1>Email Us!</h1>
					<h3>wdi56@gmail.com!</h3>
				</div>
			</li>
		</ul>
	</div>



	<ul class="example-orbit" data-orbit>
  <li>
    <img src="images/drive.jpg"/>
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li class="active">
    <img src="../assets/img/examples/andromeda-orbit.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="../assets/img/examples/launch-orbit.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>


	<div class = "sectionbox" id="signup">
		<h1><%= link_to "Get Started!", new_user_path %></h1>
	</div>


</div> <!--container div-->




  
