  <div id = "usernavbar">
    <div id = "navlogo"></div>
    <div id = "logout">LOGOUT</div>        
    <div id = "heartsongs"><%= image_tag 'heart.png', width: 20, height: 20 %> SONGS</div>       
  </div>