<div class= "userbody">

<%= render "users/nav_bar" %>
  <div class = "bodybox">
    <ul class = "large-block-grid-3 small-block-grid-1">
      <li>
        <div class = "maincontent" id ="profilebody">
          <h1 class ="bigtitle">Hello, Dinna!</h1>
            24.F     Cerritos. CA, USA
          <h1 class = "bigtitle">MY SONGS</h1>
          <div id = "mysongs">
              - La La La <br />
              Naughty Boy ft. Sam Smith <br />
                   <br />
              - Beneathe Your Beantif... <br />
              Labrinth ft. Emeli Sand <br />
                                          <br />
              -For the First Time in Fo... <br />
              Kirsten Bell <br />
                                          <br />
              - All of Me <br />
              John Legend <br />
                                         <br />
              - Latch <br />
              Disclosure ft. Sam Smith <br />

                            - La La La <br />
              Naughty Boy ft. Sam Smith <br />
                   <br />
              - Beneathe Your Beantif... <br />
              Labrinth ft. Emeli Sand <br />
                                          <br />
              -For the First Time in Fo... <br />
              Kirsten Bell <br />
                                          <br />
              - All of Me <br />
              John Legend <br />
                                         <br />
              - Latch <br />
              Disclosure ft. Sam Smith <br />
                                        
              + ADD NEW SONG
          </div>
      </div>
      </li>

      <li>
        <div class = "maincontent" id ="playerbody"><h1 class="bigtitle">Now Playing </h1>
          <br />
          <div class = "albumphoto"> <%= image_tag 'zedd.jpg', height: 00, width: 200 %>
          </div>
          <div class="testplayer">
              <div>1:30 </div> &nbsp;&nbsp;&nbsp;
              <div>ll</div>&nbsp;&nbsp;&nbsp;
              <div>FWD</div>&nbsp;&nbsp;&nbsp;
          </div>
          <div class="songproperties">
            <%= image_tag 'heart.png' %>
          <p>Find You </p><br />
          <p>By: Zedd</p>
        </div>
        </div>
      </li>

      <li>
        <div class = "maincontent" id ="mapbody">MAP HERE</div>
      </li>
    </ul>
  </div>

</div>
