<div x-ng-app="user_app" class= "userbody">
<div x-ng-controller="UserCtrl">

<div  x-ng-app="user_app">

<%= render "users/nav_bar" %>

<button ng-click="updateUserLocation()"></button>

<!-- yoyoyoy -->
  <div class = "bodybox">
    <ul class = "large-block-grid-3 small-block-grid-1">
      <li>
        <div class = "maincontent" id ="profilebody">
          <h1 class ="bigtitle">Hello, <%= @current_user.first_name %>!</h1>
          <span class="smalltitle">
          
          </span>
          <br /><br /><br />
          <h1 class = "bigtitle" id = "mysongbigtitle">MY SONGS: </h1><a href="#" data-reveal-id="searchModal">
          <div class="addnewsong"></div>
          </a>


          <!-- <button>+ ADD NEW SONG</button></a><br /> -->
          <br />
          <div id = "mysongs">  
            
              <div x-ng-repeat="s in userSongs" class="songinlist">
                <p class="plistsong">{{s.title}}  <br/>
                <p class="plistartist">{{s.artist}}</p>
                <span class="songoptions">
                <a ng-click="playSong(s);">Play</a>  
                <a ng-click="deleteSong(s)">
                  <%= image_tag 'trash.png', class: "trash" %>

                </a>
                </span>
              </div>
            
          </div>

        </div>
      </li>


      <li>
        <div class = "maincontent" id ="playerbody"><h1 class="bigtitle">Now Playing: </h1>
          <br />
            <div class = "albumphoto">
              <img src="" id="art" class="albumArt">
            </div>

            <div class="testplayer">


              
              <!-- <div id="play" class="playbutton">play</div> -->
              <div id="play" ng-click="checkPlayState()" ng-class="{playbutton: playState == 1, pausebutton: playState == 0 || playState == 2 || playState == 3 || playState == 4}">play</div>
              <div id="next" class="nextbutton">next</div>




           </div>

           
              <div class="well" style="overflow: hidden;">
                <div class="row" style="margin-bottom: 10px;">
                  <!-- <div class="col-md-2">Enter Album Key </div> -->
                  <div class="col-md-10">
                      <!-- <input id="play_key" class="form-control" value="t10597075"> -->
                  </div>
                </div>
                <br />
                <div class="songproperties">
                  <span id="track"></span> </p>
                  <p>Artist:  <span class="playartist" id="artist"></span></p>
                  
                    <p>Duration:  <span id="position"></span> </p>

                  <p><span  id="artist"></span></p><br />
                  <p class="playtrack"><span  id="track"></span> </p>

                  
               </div>
            </div>
        </li> 


    

      <li>
        <div class = "maincontent" id ="mapbody">
          <h1 class="bigtitle">Current Location:</h1><br />
          <%= image_tag 'map.png', class:"mapbutton" %>
          <div id="usermaplocation"></div>

       <!--    <input type="text" value="34.013678999999996" ng-model="lat"> <input type="text" value="-118.49610919999999" ng-model="lng">
          <p>{{lat}}, {{lng}}</p>
            <reverse-geocode lat="{{lat}}" lng="{{lng}}" />
 -->
        </div>
      </li>
    </ul>
  </div>

</div>

<!-- AARON DINNA SHIT ABOVE -->
<!-- PAULS SHIT BELOW -->
<!-- DONT FUCK WITH THIS -->


<%#= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%#= text_field_tag :search, params[:search], placeholder: "Search Users" %>
  <%#= submit_tag "Search", :name => nil %>
<%# end %>


<!-- <ul>
  <li x-ng-repeat="s in userSongs">
    {{s.artist}} - {{s.title}} - {{s.key}} <a ng-click="deleteSong(s)">Delete</a>
  </li>
</ul> -->


<br>
  <div id="searchModal" class="reveal-modal" data-reveal >
    <div class="row">
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-10 columns">
            <input class="searchtext" id="searchtextid" type="text" placeholder="Type in song or artist..." ng-model="searchTerm">
          </div>
          <div class="small-2 columns">
            <button ng-click="search(searchTerm)" class="searchbutton" id="searchbuttonid">SEARCH MUSIC</button><br/>
          </div>
        </div>
      </div>
    </div>

    <ol><br/><br/>
    
    <div class="resultsection">
    <div ng-show="isSongSearched">RESULTS</div>
      <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <a ng-click="saveSong(s); addAlert()">
      <div x-ng-repeat="s in searchSongs" class="searchresults">
        <p id="songsearchtitle">{{s.name}}</p> 
        <p id="artistsearchtitle">{{s.artist}} </p>
    </a>
      </div>
 
    </div>
       <a class="close-reveal-modal">&#215;</a>
  </div>


 
<script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

  <div class="container" id="trialplayer">

    <div id="upsell" class="alert alert-info alert-dismissable">
      <div id="subscriber">You are an Rdio subscriber. You're awesome.</div>
      <div id="trial">You are an Rdio trial user, Subscribe now!</div>
      <div id="free">You are an Rdio Free user with <span id="remaining"></span>% of your quota remaining, subscribe now!</div>
      <div id="nobody">To hear full tracks subscribe to Rdio.</div>
    </div>

</div>
<div id="apiswf"></div>


  </div>
</div>