
@font-face {
font-family:'Brandon Grotesque Bold';
src: URL('brandon_grotesque_bold.ttf')
}

.myformcontrol{
	width: 400px !important;
	height: 30px !important;
	border-radius: 3px !important;
	font-size: 13px !important;
	font-family: 'Raleway', sans-serif !important;

}

.smallformcontrol{
	width: 100px !important;
	height: 30px !important;
	border-radius: 3px !important;
	font-size: 13px !important;
	font-family: 'Raleway', sans-serif !important;
	position: absolute;
    margin-left:40px;
}

#arrowscroll1{
	background-image:asset-url('arrow97.png');
	-webkit-transition: all 300ms;
	height:40px;
	margin-top:70px;
	width:40px;
	margin-left: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	color:transparent;
}

#arrowscroll1:hover{
	background-image:asset-url('arrowwhite.png');
}


#arrowscroll2{
	background-image:asset-url('arrow97.png');
	height:40px;
	-webkit-transition: all 300ms;
	width:40px;
	margin-top:400px;
	margin-left: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	color:transparent;
}


#arrowscroll3{
	background-image:asset-url('arrow97.png');
	height:40px;
	-webkit-transition: all 300ms;
	width:40px;
	margin-top:500px;
	margin-left: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	color:transparent;
}
#arrowscroll3:hover{
	background-image:asset-url('arrowwhite.png');
}


.passwordformcontrol{
	width: 195px !important;
	height: 30px !important;
	border-radius: 3px !important;
	font-size: 10px !important;
	font-family: 'Raleway', sans-serif !important;
	position: absolute;
    margin-left:40px;

}


.confirmformcontrol{
	width: 195px !important;
	height: 30px !important;
	border-radius: 3px !important;
	font-size: 10px !important;
	font-family: 'Raleway', sans-serif !important;
	position: relative;
	left: 205px;
    display: inline-block;
    margin-left: 800px;
}



.cityformcontrol{
	width: 290px !important;
	height: 30px !important;
	border-radius: 3px !important;
	font-size: 13px !important;
	font-family: 'Raleway', sans-serif !important;
	position: absolute;
    margin-left:40px;

}


.stateformcontrol{
	width: 100px !important;
	height: 30px !important;
	border-radius: 3px !important;
	font-size: 13px !important;
	font-family: 'Raleway', sans-serif !important;
	position: relative;
	left: 300px;
    display: inline-block;
    margin-left: 800px;
}
#user_gender{
	margin-bottom: 10px;
	width: 290px !important;
	height: 30px !important;
	border-radius: 3px !important;
	font-size: 13px !important;
	font-family: 'Raleway', sans-serif !important;

	position: relative;
    display: inline-block;
    margin-left: 110px;


}

#searchModal{
	padding: 40px;
	background-color: rgba(255,255,255,0.50);
	color: black;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif !important;
	overflow: auto;
	max-height: 550px;

}

.searchtext{
	width: 300px !important;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif !important;
}

.getstartedbox{
	position: relative;
	font-family: 'Raleway', sans-serif !important;
	width: 400px;
	height: 300px;
	float: right;
	margin-right:150px;
	margin-top: 200px;
	text-align: center;
}

.getstartedbox h1{
	font-size: 10px;
}

.getstartedtext{
	background-color: rgba(255,255,255,0.5);
	border: 1px solid black;
	border-radius: 15px;
	width: 110px;
	height: 70px;
	padding: 10px;
	margin: 0 auto;
}

.getstartedtext:hover{
	border: 1.5px solid black;
	background-color: rgba(255,255,255,0.3);
}

#getstartedhome{
	margin-bottom: 15px;
	font-size: 15px !important;
	font-family: 'Raleway', sans-serif !important;
}

#myModal {
	background-color: rgba(255,255,255,0.20);
	width: 480px;
	height: 450px;
	border-radius: 10px;
}

#loginmodal{
	background-color: rgba(255,255,255,0.20);
	width: 460px;
	height: 330px;
	border-radius: 10px;
	text-align: left;
}
.centersignup{
	text-align: center;
	margin-left: -130px;
}
#formbox{
	margin: 10px auto;
	text-align: left;
}


.formlabels{
	font-family: 'Raleway', sans-serif !important;
	text-align: right;
	margin-bottom: 2px;
	margin-right: 5px;
}
.buttonsignup{
	font-family: 'Raleway', sans-serif !important;
	border-radius: 10px;
}
.sectionbox {
	padding-top:100px;
	height:710px;
	background-color: #5c243b;
	overflow:hidden;
	font-family: 'Brandon Grotesque Bold';
	text-align:center;
}
.inbetween {
	padding-top:100px;
	padding-bottom:70px;
	height:auto;
	overflow:hidden;
	font-family: 'Brandon Grotesque Bold';
	text-align:center;
}

#introbox {
	background-image: asset-url('top1.jpg');
	background-size: cover;
	text-align: center;
	background-position: center center;
	}


	#logo {
	background-image: asset-url('logo_left.png');
	background-size: cover;
	width: 297.5px;
	height: 161.5px;
	margin: 300px auto 0;
	display: inline-block;

	}
	#homeplay {
	background-image: asset-url('logo_right.png');
	background-size: cover;
	width: 85px;
	height: 98px;
	margin-left: -85px;
	display: inline-block;
}

.blankbox{
	background-color:red;
	width:400px;
	height:400px;
}

#playlistimage{
	width:40%;
	float:left;
}


#introbox h2{
	font-size: 22px;
	color:white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#whoarewe{
	padding-top:150px;
	text-align:center;
	background-position: center center;
}
#whoarewe2{
	background-image: url('div2.jpg');
	background-size: cover;
	background-position: center center;
}
#whoarewe3{
	padding-top:150px;
	text-align:center;
	background-position: center center;
}


#whoarewe h1{
	font-size: 50px;
}

#signup{
	background-image:asset-url('listen.jpg');
	background-size: cover;
	background-position: center center;
	background-width:100%;
	background-height:auto;

}

#signup h1{
	text-align: center;
	font-size: 100px;
}

nav{
	background-color: rgba(255,255,255,0.15);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:70px;
	padding:10px;
	}

		.navlogo{
		width: 55px;
		height: 30.16px;
		background-image: asset-url('logo2.png');
		background-size: cover;
		margin-top: 18px;
		margin-left: 95px;
		display: inline-block;
}



/*NAV LINKS*/
.cl-effect-13{
	font-family: 'Raleway', sans-serif;
	color: white;
	display: inline-block;
	float:right;
	margin-right: 15px;
	margin-top: 15px;
}
.cl-effect-13 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	text-decoration: none;
}

.cl-effect-13 a::before {
	position: absolute;
	top: 100%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
	font-family: 'Raleway', sans-serif;
	color: black;
}


/* END OF NAV LINKS*/






@media only screen and (max-width: 444px) {


.sectionbox {
	padding:70px;
}

#whoarewe {
	padding:0;
}

#lorem1 h1{
	line-height: 0.8;
	padding:20px 0;
	text-align: center;
	font-size:80px;

}

#lorem2 h1{
	line-height: 0.8;
	padding-bottom:20px;
	text-align: center;
	font-size:80px;
}

#lorem3 h1{
	line-height: 0.8;
	padding-bottom:20px;
	text-align: center;
	font-size:80px;
}

}

#signuptitle{
	font-family: 'Brandon Grotesque Bold';
	font-size: 90px;
	color: white;
	margin: 0 auto;
}

.submitsign{
	font-family: 'Raleway', sans-serif;
	padding: 2px;
	width: 400px;
	height: 45px;
	background-color: black;
	color: white;
	border-radius: 3px;
	border: 1px solid black;
}


.searchbutton{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	padding: 2px;
	width: 53px;
	height: 40px;
	background-color: black;
	color: white;
	border-radius: 3px;
	border: 1px solid black;
	position: relative;
	left:150px;
	top: -2px;
}


#songsearchtitle{
	font-weight: bold;
	color: white;
	font-size:18px;
	margin-bottom:4px;
}

#artistsearchtitle{
	font-size:15px;
	color: #C0C0C0;
	margin-left: 10px;
}


.searchresults{
	padding: 15px;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.6);
}

.searchresults:hover{
	background-color: rgba(0,0,0,0.9);
	-webkit-transition: all .05s ease;
  	-moz-transition: all .05s ease;
  	-o-transition: all .05s ease;
  	transition: all .05s ease;
}


.resultsection{
	border-radius: 3px;
	overflow-y: scroll;
	max-height: 360px;
}
.searchlinks{
	position: relative;
	top: -37px;
	left: -37px;
	background-image: asset-url('addbutton.png');
	background-size: contain;
	width: 30px;
	height: 30px;
}
.searchlinks:hover{
	background-image: asset-url('addbuttonhover.png');

}

.songartistplaylist{
	max-width: 275px;
	height:  auto;
}

#getstartedhome img{
	width: 60px;

	position: relative;
	top: 4px;
}
