
@font-face {
font-family:'Brandon Grotesque Bold';
src: URL('brandon_grotesque_bold.ttf')
}

.myformcontrol {
	height: 50px !important;
	font-size: 30px !important;
}

#user_gender{
	height:50px;
	margin-bottom: 5px;
	font-size:20px;
}

#formbox{
	margin:50px auto;
}

.sectionbox {
	padding:100px;
	height:710px;
	overflow:hidden;
	font-family: 'Brandon Grotesque Bold';	
	text-align:center;

	
}

#introbox {
	background-image: url('top1.jpg');
	background-size: cover;
	text-align: center;
	background-position: center center;
	}

	
	#logo {
	background-image: url('logo_left.png');
	background-size: cover;
	width: 297.5px;
	height: 161.5px;
	margin: 300px auto 0;
	display: inline-block;
	
	}
	#play {
	background-image: url('logo_right.png');
	background-size: cover;
	width: 85px;
	height: 98px;
	margin-left: -85px;
	display: inline-block;

	
}

#playlistimage{
	width:40%;
	float:left;
}


#introbox h2{
	font-size: 22px;
	color:white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#whoarewe{
	padding-top:150px;	
	text-align:center;
}

#whoarewe h1{
	font-size: 50px;
}

#signup{
	background-image:url('listen.jpg'); 
	background-size: cover;
	background-position: center center;
	background-width:100%;
	background-height:auto;
	
}

#signup h1{
	text-align: center;
	font-size: 100px;
}

nav{
	background-color: rgba(255,255,255,0.15);	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:70px;
	padding:10px;
	}

		.navlogo{
		width: 55px;
		height: 30.16px;
		background-image: url('logo2.png');
		background-size: cover;
		margin-top: 18px;
		margin-left: 95px;
		display: inline-block;
}



/*NAV LINKS*/
.cl-effect-13{
	font-family: 'Raleway', sans-serif;
	color: white;
	display: inline-block;
	float:right;
	margin-right: 15px;
	margin-top: 10px;
}
.cl-effect-13 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	text-decoration: none;
}

.cl-effect-13 a::before {
	position: absolute;
	top: 100%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.cl-effect-13 a:hover::before,
.cl-effect-13 a:focus::before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}

.cl-effect-13 a:hover,
.cl-effect-13 a:focus {
	font-family: 'Raleway', sans-serif;
	color: black;
}


/* END OF NAV LINKS*/






@media only screen and (max-width: 444px) {


.sectionbox {
	padding:70px;
}

#whoarewe {
	padding:0;
}

#lorem1 h1{
	line-height: 0.8;
	padding:20px 0;
	text-align: center;
	font-size:80px;
	
}

#lorem2 h1{
	line-height: 0.8;
	padding-bottom:20px;
	text-align: center;
	font-size:80px;
}

#lorem3 h1{
	line-height: 0.8;
	padding-bottom:20px;
	text-align: center;
	font-size:80px;
}

}




