// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,body,.userbody{
	height:100%;
	padding: 0px;
	margin: 0px;
}

.userbody {
	width:100%;
	overflow: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	background: -webkit-linear-gradient(#5c243b, #302c48); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#5c243b, #302c48); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#5c243b, #302c48); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#5c243b, #302c48); /* Standard syntax (must be last) */
}


button{
	font-size:40%;
}

#usernavbar{
	height:80px;
	font-family: 'Raleway', sans-serif;
	background-color:rgba(255,255,255,0.3);
	width:100%;
	margin-top:15px;
	padding:25px;
	}

#usernavbar div {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}


#navlogo{
	background-image:url('playitforward.png');
	background-size: contain;
	background-repeat: no-repeat;
	height:50px;
	width:300px;
	}

#heartsongs, #logout {
	float:right;
}

.bodybox{
	height:600px;
	margin:20px;
}

.maincontent{
	background-color: rgba(0,0,51,0.2);
	font-family:'Raleway', sans-serif;
	height:530px;
	border-radius: 15px;
	padding:25px 20px 20px 20px;
	color:white;	
}


.bigtitle{
	color:white;
	font-size: 25px;
}

.smalltitle{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	color: #C0C0C0;
}

#mysongs {
	background-color: rgba(255,255,255,0.2);
	overflow-y:scroll;
	height:350px;
	padding:20px;
}

.albumphoto {
	text-align: center;
}


#trialplayer{
	width: 400px;
	display:none;
}

.testplayer{
	font-size: 35px;
	display:inline-block;
	text-align: center;
	padding:5px;
	width:100%;
}

.testplayer div{
	width:26%;
	display:inline;
}

.songproperties{
	font-size: 15px;
}

.mapbutton {
	float:right;
	width: 50px;
	height: auto;
	top: -90px;
}

#usermaplocation{
	margin: 0 auto !important;
}
.plistsong{

}
.plistartist{
	font-size:15px;
	color: #C0C0C0;
	margin-left: 10px;
}
.songinlist{
	margin-bottom: 10px;
}

.songoptions {
	color:white !important;
}
.songoptions a:hover{
	color:black;

}
.addnewsong{
	float: right;
	margin-top: -25px;
	background-image: url('addtext.png');
	background-size: contain;
	width: 170px;
	height: 24px;
	padding: 5px;
}



.trash {
	float:right;
	position: relative;
	top: -30px;
	height: 18px;
}

.playbutton{
	background-image: url('1play.png');
	background-size: contain;
	background-repeat: no-repeat;
	width:80px;
	height:65px;
	color: transparent;
}

.playbutton:hover{
	background-image: url('1playhov.png');
	-webkit-transition: all .05s ease;
  	-moz-transition: all .05s ease;
  	-o-transition: all .05s ease;
  	transition: all .05s ease;

}

.pausebutton{
	background-image: url('1pause.png');
	background-size: contain;
	background-repeat: no-repeat;
	width:65px;
	height:65px;
	color: transparent;
}

.pausebutton:hover{
	background-image: url('1pausehov.png');
	-webkit-transition: all .05s ease;
  	-moz-transition: all .05s ease;
  	-o-transition: all .05s ease;
  	transition: all .05s ease;

}
.nextbutton{
	background-image: url('1fwd.png');
	background-size: contain;
	background-repeat: no-repeat;
	width:80px;
	height:65px;
	color: transparent;
}

.nextbutton:hover{
	background-image: url('1fwdhov.png');
	-webkit-transition: all .05s ease;
  	-moz-transition: all .05s ease;
  	-o-transition: all .05s ease;
  	transition: all .05s ease;

}












